* {
  padding: 0;
  margin: 0; 
  box-sizing: border-box;

}

body {
  text-decoration: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body {
  background: var(--main-color);
}

:root{
  --main-color: #C6D2B2; 
  --secondary-color: #C6D2B2;
  --button-color: #6ED2CC;
  --start-color: #FDCB4A;
  --middle-number-color: #273E02;
}

.h4 {
  display: flex;
  flex-direction: center;




}